// SCSS for the checkbox dropdown main menu

.top-links-nav {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    
    .top-links-ul {

        .top-links-li {
            display: inline-block;
            margin-right: 10px;
            a {
                color: black;
                max-width: 30px;
                text-decoration: none;
                font-size: 0.8rem;
                font-weight: 300;

                .top-links-image {
                    width: 20px;
                    height: 20px;
                    margin: 5px 5px;
                }
            
            }
        }
    }
}

// Enable focus on search and hamburger menu labels. No focus while dropdown is open
input:focus:not(:checked)+#toggle-menu, 
input:focus:not(:checked)+#toggle-menu-2 {
   outline: $focus-setting;
}

/*** Main nav settings ***/
.main-menu-nav {

    .main-menu-ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    line-height: 0;
    padding: 0;
  
    #main-menu-li-logo {
        position: absolute;
        left: 0;
        top: 0;
        #kontakt-logo-anchor {
            position: absolute;
            top: 0;
            margin: 10px 0px 0px 10px;

            .kontakt-logo-img {
                max-width: 260px;
            } 
        }  
    } 

    li {
        display: inline-block;
        }    
 
        .main-menu-li-links {
            width: 45px;
            margin: 10px 10px 10px 0px;
            text-align: center;
        
            :hover {
                cursor: pointer;
            }
        }
    }
}    

/* Search Menu */

//Checkbox hack - using a label for="" with same name as our checkbox id to open/close a dropdown
#nav-search .main-menu { //hide dropdown as default
    display: none;
}

#cb-hack:checked ~ .main-menu { //make dropdown visible when checkbox is checked
    display: block;
}

#nav-search input[type="checkbox"] { // hide the checkbox
    position: absolute;
    left: -9999px;
}

//Search dropdown



.main-menu {
    /* cursor: default;
     z-index: 5;*/

#user-search {
    line-height: 36px;
    font-size: 1.5rem;
    width: 100%;
   /* color: rgb(7, 7, 7);
    position: relative;
    left: 0%;
    z-index: 99;*/
    }
}

#opacity-cover {
    width: 100%;
    height: 1000vh;
    background: rgba($color: #000000, $alpha: 0.85);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    overflow: hidden;
    cursor: default;
    :hover {
        cursor: text;
    }

}

.main-menu {

    form {
        position: relative;
        top: 210px;
        width: 100%;

            input[type=submit] {
                font-size: 1.2rem;
                margin: 8px 4px;
                background: $white-box-color;
            }

            #submit-close {
                /*font-family: FontAwesome;
                color: red;
                font-size: 4rem;
                font-weight: normal;
                background-color: Transparent;
                border: none;
                position: fixed;
                top: 130px;
                right: 5px;*/
                background-color: Transparent;
                border: none;
                position: fixed;
                right: 16px;
                top: 10px;
                font-size: 1.5rem;
                font-family: FontAwesome;
                color: red;
                font-size: 3rem;
                overflow: visible;
                font-weight: normal;

            }
        }
    
}
/* Hamburger Menu */

//Checkbox hack - using a label for="" with same name as our checkbox id to open/close a dropdown
#nav-menu .main-menu-2 { //hide dropdown as default
    display: none;
}

#cb-hack-2:checked ~ .main-menu-2 { //make dropdown visible when checkbox is checked
    display: block;
}

#nav-menu input[type="checkbox"] { // hide the checkbox
    position: absolute;
    left: -9999px;
}

// Burger dropdown
#nav-menu {
 
    .main-menu-2 {
        z-index: 5;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        background-color: rgb(218, 207, 207);
        :hover {
            cursor: default;
        }
        
        #close-li {
            position: fixed;
            top: 0;
            right: 2%;
            /*text-align: right;*/
        }

        #close-menu-icon {
            position: fixed;
            right: 16px;
            top: 10px;
            font-size: 1.5rem;
            font-family: FontAwesome;
            color: red;
            font-size: 3rem;
            overflow: visible;
            font-weight: normal;

        }

        #opacity-cover-2 {
            z-index: 4;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 1000vh;
            background-color: rgba(218, 207, 207, 1);
            overflow: hidden;
            :hover {
                cursor: default;
            }
        }

        li {
            position: relative;
            display: block;
            width: 100%;
            text-align: center;
            line-height: 42px;
            z-index: +6;

            :hover {
                cursor: pointer;
                }

            a {
                text-decoration: none;
                color: rgb(75, 73, 73);
                font-size: 1.5rem;
                position: relative;
                /*display: block;*/ //Make links in dropdown take up a whole <li> each
                overflow: hidden;
            }
        }
    }
}

/* some common styling between search menu and hamburger menu */
#nav-search, #nav-menu {
    font-size: 1.1rem;
    font-weight: bold;
    z-index: 1;
}

.burger-menu-image, .search-menu-image{
    height: 45px;
    margin-bottom: 16px;
}

#toggle-menu-1 {
}

#toggle-menu-2 {
 }
