// SCSS for the checkbox dropdown main menu

.top-links-nav {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .top-links-ul {
        display: flex;
        justify-content: flex-end;
        text-align: right;
        line-height: 30px;
        font-weight: bold;

        .top-links-li {
            min-height: 40px;
            display: inline-block;
            margin-right: 10px;
            a {
                color: black;
                max-width: 30px;
                text-decoration: none;
                font-size: 0.7rem;
                font-weight: 300;

                .top-links-image {
                    width: 20px;
                    height: 20px;
                    margin: 5px 5px;
                }
            
            }
        }
    }
}




#kontakt-logo-anchor {
    position: absolute;
    top: 0;
    margin: 10px;
}  

#main-menu-li-logo {
    position: absolute;
    left: 0;
    top: 0;
} 

.main-menu-nav {
    .main-menu-ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    line-height: 1.2;
  

    li {
        display: inline-block;
    
            .kontakt-logo-img {
                max-width: 260px;
            } 
        }    
    }
}
        .main-menu-li-links {
            width: 45px;
            margin: 10px 10px 5px 0px;
            text-align: center;
        
            :hover {
                cursor: pointer;
            }

            :focus-within {
                outline: rgb(59, 153, 252) auto 5px;
            }
            
            .anchor-focus {
                
            }

            .anchor-focus:focus {
                border: none;
            }
        }
    


.burger-menu-image {
    height: 45px;
}

.search-menu-image {
    height: 45px;
}

// search
#nav-search .main-menu {
    display: none;
}

#cb-hack:checked+.main-menu {
    display: block;
}

#nav-search input[type="checkbox"] {
    //display: none;
    //opacity: 0;
    position: absolute;
    left: -9999px;
}

::placeholder {
    color: rgb(7, 7, 7);
    font-size: 1.5rem;
}

#user-search {
    line-height: 36px;
    font-size: 2rem;
    color: rgb(7, 7, 7);
    position: relative;
    left: 0%;
    top: 200px;
    z-index: 99;
}

#opacity-cover {
    width: 100%;
    height: 100vh;
    background: rgba($color: #000000, $alpha: 0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

#search-close {}

.main-menu {
 
    #cb-hack {
        position: relative;
        left: 6px;
        top: 200px;
        color: rgb(175, 25, 25);
        font-size: 1.5rem;
        padding: 10px 10px;
        z-index: 999;
    }
}

// Menu 

#nav-menu .main-menu-2 {
    display: none;
}

#cb-hack-2:checked+.main-menu-2 {
    display: block;
}

#nav-menu input[type="checkbox"] {
    //display: none;
    //opacity: 0;
    position: absolute;
    left: -9999px;
}

#nav-menu {
 
    .main-menu-2 {
        z-index: 5;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        //height: 100vh;
        background-color: rgb(218, 207, 207);
        :hover {
            cursor: default;
        }
        //display: none;
        
        #label-inside-menu {
            position: absolute;
            right: 2%;
            top: 0%;
            color: rgb(224, 72, 72);
            font-size: 1.5rem;
            z-index: 799;
        }

        #opacity-cover-2 {
            z-index: 4;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 1000vh; // not right
            background-color: rgba(218, 207, 207, 1);
            overflow: hidden;
            :hover {
                cursor: default;
                }
            
            
            }

        li {
            position: relative;
            display: block;
            width: 100%;
            text-align: center;
            line-height: 42px;
            z-index: 6;
           /* :hover {
                cursor: pointer;
            }*/
            :hover {
                cursor: pointer;
                }

            



            a {
                text-decoration: none;
                color: rgb(75, 73, 73);
                font-size: 1.5rem;
                //background: rgb(241, 236, 236);
                position: relative;
                display: block;
                overflow: hidden;
            }
        }
    }
}

#nav-search, #nav-menu {
    font-size: 1.1rem;
    font-weight: bold;
    z-index: 1;

    :focus-within {
        border: none;
    }
}


#toggle-menu-1 {
    //display: block;
}

#toggle-menu-2 {
    //font-size: 16px;
 }