/**
FOOTER
**/

  footer {
    width: 100%;
    background-color: #363636;
    position: relative;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    text-align: center;
  }
  
  .bottom-footer {
    background-color: #101010;
  }
  
  footer>section {
    background-color: #363636;
    padding: 10px 30px;
    color: white;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
  }
  
  
  footer>section>article {
    padding: 20px 50px;
  }
  
  footer section>h4 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  footer a {
    display: block;
    text-decoration: none;
    color: white;
  }
  
  @media only screen and (min-width: 768px) {
    footer section {
      flex-flow: row nowrap;
    }
  
    footer article {
      margin: 10px 10px;
      background-color: darkgrey;
    }
  
    .bottom-footer {
      display: block;
    }
  }