$primary-color: rgb(255, 245, 245);
$secondary-color: rgb(231, 227, 227);

@import url(
  'https://fonts.googleapis.com/css?family=Open+Sans|Roboto:100,300,400,900&display=swap&subset=cyrillic,cyrillic-ext,latin-ext');

@import "_header-nav.scss";

$link-color: #08C;
$hover-font-color: rgb(12, 90, 130);

$font_roboto: "Roboto", sans-serif;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/// Clearfix ///
.clearfix {
    &:before {
      content: " ";
      display: table;
    }
    &:after {
      content: " ";
      display: table;
    }
  }
  .row {
    &:after {
      clear: both;
    }
  }

body {
    height: 100%;
    line-height: 1.5;
    font-size: 10px;
    font-family: $font_roboto;
  }

  /// Font-sizes & font-weights, and default padding/margins ///
h1 {
    font-size: 4rem;
  }
  
  h2 {
    font-size: 3rem;
  }
  
  h3 {
    font-size: 2.2rem;
  }
  
  h4 {
    font-size: 1.8rem;
  }
  
  h5 {
    font-size: 1.6rem;
    font-weight: 900;
  }
  
  p {
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: 20px;
    > strong {
      font-size: 1.6rem;
    }
    > span {
      font-size: 1.6rem;
    }
  }
  
  a {
    font-size: 1.6rem;
    font-weight: 900;
    color: $link-color;
    &:hover {
      color: $hover-font-color;
    }
  }
#kontakta-oss-main {
    display: flex;
    flex-direction: column;
    text-align: center;
}
#kontakta-oss-header {
    h1 {
        font-size: 1.8rem;
        padding-top: 8px;
    }
    
}


//Kontakta oss
#contact-section-1 {
  p {
    font-size: 1.3rem;
  }

  #contact-img {
    width: 90%;
    padding: 10px 0;
  }
}


#contact-form-div {
    // Make placeholder text italic while user input remain normal 
    ::-webkit-input-placeholder {
        font-style: italic;
     }
     :-moz-placeholder {
        font-style: italic;  
     }
     ::-moz-placeholder {
        font-style: italic;  
     }
     :-ms-input-placeholder {  
        font-style: italic; 
     }
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $secondary-color;

    form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 90%;
        align-content: flex-end;
        margin-right: 6px;
       
        label {
            font-size: 1.1rem;
            font-weight: bold;
            padding-left: 4px;
        }

        #top-label {
          padding-top: 16px;
        }

        input, 
        textarea {
            padding: 8px;
            margin: 4px 4px 8px 4px;
            border-radius: 4px;
            width: 100%;
            font-size: 1.5rem;
        }
        
        textarea {
            min-height: 105px;
        }

        #form-send-btn {
            max-width: 100px;
        }
    }
}
#contact-section-container {
  display: flex;
  flex-direction: column;
  text-align: left;

  section:nth-of-type(odd) {
    background-color: $primary-color;
  }
  section:nth-of-type(even) {
    background-color: $secondary-color;
  }

  #large-p {
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 6px;
    line-height: 1;
    padding-left: 30px;
  }

  #small-p {
    font-size: 1.1rem;
    padding: 0 8px 0 30px;
    margin: 0 0 4px 0;
    padding-left: 30px;
  }

  #contact-section-2 {

  }

  a {
    font-size: 1.1rem;
  }

  #section-map {
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;
    padding-top: 56.25%;
  

  iframe {
    position: absolute;
    top: 0;
    left: 2%;
    width: 96%;
    height: 100%;
    border: 0;
    margin-top: 20px;
  }
}

}