@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:100,300,400,900&display=swap&subset=cyrillic,cyrillic-ext,latin-ext");
/* Accessibility links */
.top-links-nav {
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1020px) {
  .top-links-nav {
    top: 10px;
    right: 0;
    position: absolute;
  }
}

@media (min-width: 1020px) {
  .top-links-nav .top-links-ul {
    margin: 5px 5px 0px 0px;
  }
}

.top-links-nav .top-links-ul .top-links-li {
  display: inline-block;
  margin: 0px 10px 0px 10px;
}

@media (min-width: 1020px) {
  .top-links-nav .top-links-ul .top-links-li {
    margin: 0px 6px;
  }
}

.top-links-nav .top-links-ul .top-links-li span {
  white-space: nowrap;
  font-size: 0.8rem;
}

.top-links-nav .top-links-ul .top-links-li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: black;
  text-decoration: none;
  font-weight: 300;
}

@media (min-width: 1020px) {
  .top-links-nav .top-links-ul .top-links-li a {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.top-links-nav .top-links-ul .top-links-li a .top-links-image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 0px;
  width: 20px;
  height: 20px;
}

@media (min-width: 1020px) {
  .top-links-nav .top-links-ul .top-links-li a .top-links-image {
    margin-right: 5px;
    width: 18px;
    height: 18px;
  }
}

input:focus:not(:checked) + #toggle-menu,
input:focus:not(:checked) + #toggle-menu-2 {
  outline: #3b99fc 1px solid;
}

/*** Main nav settings ***/
@media (min-width: 1020px) {
  .main-menu-nav {
    display: inline-block;
  }
}

.main-menu-nav .main-menu-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  line-height: 0;
  padding: 20px;
}

@media (min-width: 1020px) {
  .main-menu-nav .main-menu-ul {
    margin-bottom: 100px;
  }
}

.main-menu-nav #main-menu-li-logo {
  position: absolute;
  left: 20px;
  top: 20px;
}

@media (min-width: 1020px) {
  .main-menu-nav #main-menu-li-logo {
    display: inline-block;
  }
}

.main-menu-nav #main-menu-li-logo #kontakt-logo-anchor {
  position: absolute;
}

@media (min-width: 1020px) {
  .main-menu-nav #main-menu-li-logo #kontakt-logo-anchor {
    display: inline-block;
  }
}

.main-menu-nav #main-menu-li-logo #kontakt-logo-anchor .kontakt-logo-img {
  max-width: 220px;
}

@media (min-width: 1020px) {
  .main-menu-nav #main-menu-li-logo #kontakt-logo-anchor .kontakt-logo-img {
    max-width: 260px;
  }
}

.main-menu-nav li {
  display: inline-block;
}

@media (min-width: 1020px) {
  .main-menu-nav li {
    display: inline;
  }
}

.main-menu-nav .main-menu-li-links {
  width: 50px;
  margin-right: 8px;
  margin-bottom: 8px;
  text-align: center;
}

.main-menu-nav .main-menu-li-links :hover {
  cursor: pointer;
}

@media (min-width: 1020px) {
  .main-menu-nav .main-menu-li-links {
    text-align: center;
    padding-right: 10px;
    width: 60px;
  }
}

/* Search Menu */
#nav-search .search-menu-ul {
  display: none;
}

#toggle:checked ~ .search-menu-ul {
  display: block;
}

#nav-search input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

.search-menu-ul {
  cursor: text;
}

.search-menu-ul:hover {
  cursor: text;
}

.search-menu-ul input#user-search {
  position: relative;
  width: 100%;
  cursor: text;
  height: 45px;
  font-size: 1.8rem;
}

.search-menu-ul input#user-search:hover {
  cursor: text;
}

.search-menu-ul #opacity-cover {
  width: 100%;
  height: 1000vh;
  background: rgba(0, 0, 0, 0.95);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  overflow: hidden;
  cursor: default;
}

.search-menu-ul #opacity-cover :hover {
  cursor: default;
}

.search-menu-ul form {
  position: absolute;
  top: 200px;
  left: 0;
  z-index: 3;
  width: 100%;
  padding: 20px;
  height: 0px;
  cursor: default;
}

.search-menu-ul form:hover {
  cursor: default;
}

@media (max-height: 600px) {
  .search-menu-ul form {
    top: 150px;
  }
}

.search-menu-ul form #close-label {
  color: white;
  padding: 0;
  position: fixed;
  right: 32px;
  top: 70px;
  font-weight: normal;
}

.search-menu-ul form #close-label #img-close-search {
  height: 45px;
  margin: 0;
  position: fixed;
  right: 32px;
  top: 15px;
}

.search-menu-ul form #menu-submit {
  color: white;
  font-size: 1.4rem;
  padding: 8px;
  background: transparent;
  margin-top: 16px;
  width: 90px;
}

.search-menu-ul form #menu-submit:hover {
  cursor: pointer;
}

@media (min-width: 1020px) {
  .search-menu-ul form #menu-submit:hover {
    font-weight: normal;
  }
}

.search-menu-ul form #menu-submit-close {
  background-color: Transparent;
  position: fixed;
  right: 27px;
  top: 15px;
  width: 55px;
  height: 72px;
  border: none;
}

.search-menu-ul form #menu-submit-close:hover {
  cursor: pointer;
}

/* Hamburger Menu */
#nav-menu .burger-menu-ul {
  display: none;
}

#toggle-2:checked ~ .burger-menu-ul {
  display: block;
}

#nav-menu input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

@media (min-width: 1020px) {
  #nav-menu {
    display: inline-block;
  }
}

#nav-menu .burger-menu-ul {
  z-index: 5;
  position: absolute;
  left: 0;
  width: 100%;
  background-color: transparent;
}

#nav-menu .burger-menu-ul :hover {
  cursor: default;
}

@media (max-height: 600px) {
  #nav-menu .burger-menu-ul {
    top: 20px;
  }
}

@media (min-width: 1020px) {
  #nav-menu .burger-menu-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 115px;
    width: 100%;
    z-index: 0;
    margin-left: -8px;
    padding-right: 8px;
    height: 43px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#nav-menu .burger-menu-ul #close-li {
  position: fixed;
  top: 0;
  right: 2%;
  cursor: pointer;
}

@media (min-width: 1020px) {
  #nav-menu .burger-menu-ul #close-li {
    display: none;
  }
}

#nav-menu .burger-menu-ul #close-menu-icon {
  position: fixed;
  right: 27px;
  top: 15px;
  font-weight: normal;
  width: 55px;
  height: 72px;
  font-size: 1.1rem;
  line-height: 0;
}

#nav-menu .burger-menu-ul #close-menu-icon .img-close {
  height: 45px;
  margin: 0 0 8px 0;
}

@media (min-width: 1020px) {
  #nav-menu .burger-menu-ul #close-menu-icon {
    display: none;
  }
}

#nav-menu .burger-menu-ul #opacity-cover-2 {
  z-index: 4;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 1000vh;
  background-color: rgba(0, 0, 0, 0.95);
  overflow: hidden;
}

#nav-menu .burger-menu-ul #opacity-cover-2 :hover {
  cursor: default;
}

@media (min-width: 1020px) {
  #nav-menu .burger-menu-ul #opacity-cover-2 {
    display: none;
  }
}

#nav-menu .burger-menu-ul li {
  position: relative;
  width: 100%;
  line-height: 42px;
  z-index: 6;
  margin-bottom: 15px;
}

#nav-menu .burger-menu-ul li :hover {
  cursor: pointer;
}

@media (max-height: 700px) {
  #nav-menu .burger-menu-ul li {
    line-height: 24px !important;
  }
}

@media (min-width: 1020px) {
  #nav-menu .burger-menu-ul li {
    width: auto;
    margin-left: 16px;
  }
  #nav-menu .burger-menu-ul li :hover {
    cursor: pointer;
    font-size: 1.1rem;
  }
}

#nav-menu .burger-menu-ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
  position: relative;
  overflow: hidden;
}

@media (min-width: 1020px) {
  #nav-menu .burger-menu-ul li a {
    font-size: 1.1rem;
    color: black;
    display: block;
    border-bottom: black solid 2px;
    line-height: 1.8rem;
  }
}

#nav-menu .burger-menu-ul li a#burger-menu-current-page {
  color: #807e7e;
  font-size: 1.8rem;
}

@media (min-width: 1020px) {
  #nav-menu .burger-menu-ul li a#burger-menu-current-page {
    color: black;
    font-size: 1.1rem;
  }
}

/* some common styling between search menu and hamburger menu */
#nav-search,
#nav-menu {
  font-size: 1.1rem;
  font-weight: bold;
  z-index: 1;
}

.burger-menu-image {
  width: 50px;
  margin-bottom: 6px;
}

.search-menu-image {
  width: 40px;
  margin-top: 6px;
  margin-bottom: 10px;
}

@media (min-width: 1020px) {
  .search-menu-image {
    width: 22px;
    height: 22px;
    margin-top: 10px;
    margin-right: 5px;
  }
}

#toggle-menu {
  display: block;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1020px) {
  #toggle-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 62px;
  }
}

#toggle-menu-2 {
  display: block;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1020px) {
  #toggle-menu-2 {
    display: none;
  }
}

/* Search menu and hamburger menu accessibility */
/* Hide spans */
.vh {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* Show spans based on checked/unchecked states */
[type="checkbox"]:checked ~ label .expanded-text {
  display: inline;
}

[type="checkbox"]:checked ~ label .collapsed-text {
  display: none;
}

[type="checkbox"]:not(:checked) ~ label .expanded-text {
  display: none;
}

[type="checkbox"]:not(:checked) ~ label .collapsed-text {
  display: inline;
}

@media (min-width: 1020px) {
  .main-menu-li-links {
    display: inline-block;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .main-menu-li-links#sok-li-links {
    position: absolute;
    right: 360px;
    top: -12px;
  }
}

@media (min-width: 1020px) {
  #toggle-2 {
    display: none;
  }
}

/** 320px **/
@media (max-width: 380px) {
  .main-menu-ul {
    margin-bottom: 125px;
  }
  .burger-menu-ul {
    position: relative;
    left: -220px;
    width: auto;
    left: auto;
  }
  .burger-menu-ul li {
    line-height: 32px;
    font-size: 1.2rem;
  }
  #burger-li-links {
    position: absolute;
    margin-top: 60px;
    right: 60px;
  }
  #nav-menu {
    width: auto;
    left: auto;
  }
  #sok-li-links {
    position: absolute;
    margin-top: 60px;
    right: 135px;
  }
  .top-links-li {
    margin: 0px 2px !important;
  }
  .social li {
    margin-left: 0px !important;
  }
}

/*** 
DEFAULT STYLING 
***/
* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: #3b99fc 1px solid;
}

.clearfix:before {
  content: " ";
  display: table;
}

.clearfix:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

body {
  height: 100%;
  line-height: 1.5;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background-color: whitesmoke;
}

.page {
  margin-top: 20px;
  /*** HOLY GRAIL DESIGN 
- For bigger screens ***/
}

@media (min-width: 1020px) {
  .page .page {
    width: 1020px;
    margin: 0 auto;
  }
}

/*** 
DEFAULT FONT SIZES
***/
h1 {
  font-size: 1.9rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 5px;
}

p > strong {
  font-size: 1rem;
}

p > span {
  font-size: 1rem;
}

a {
  font-size: 1rem;
  color: #08c;
}

a:hover {
  color: #000000;
}

/*** 
DEFAULT STYLING PAGES 
***/
.head-section {
  padding: 16px;
  background-color: white;
  margin: 0px 20px 20px 20px;
  /*&:last-of-type {
    margin-bottom: 20px;
  }
  &:first-of-type {
    margin-top: 0px;
  }*/
}

.head-section a {
  color: #101012;
}

.head-section li + li a {
  margin-top: 10px;
}

.head-section li a {
  text-decoration: underline;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.head-section li a:hover:after {
  right: 0;
}

.head-section h4 {
  border-bottom: 1px solid #101010;
}

.head-section li + a {
  margin-top: 20px;
}

.head-section p {
  font-size: 1.2rem;
  font-weight: 500;
}

.section {
  padding: 16px;
  background-color: white;
  margin: 0px 20px 20px 20px;
  /*&:last-of-type {
    margin-bottom: 20px;
  }
  &:first-of-type {
    margin-top: 0px;
  }*/
}

.section a {
  color: #101012;
}

.section li + li a {
  margin-top: 10px;
}

.section li a {
  text-decoration: underline;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section li a:hover:after {
  right: 0;
}

.section h4 {
  border-bottom: 1px solid #101010;
}

.section li + a {
  margin-top: 20px;
}

.section-no-bg {
  padding: 16px;
  background-color: white;
  margin: 0px 20px 20px 20px;
  /*&:last-of-type {
    margin-bottom: 20px;
  }
  &:first-of-type {
    margin-top: 0px;
  }*/
  background-color: whitesmoke;
}

.section-no-bg a {
  color: #101012;
}

.section-no-bg li + li a {
  margin-top: 10px;
}

.section-no-bg li a {
  text-decoration: underline;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-no-bg li a:hover:after {
  right: 0;
}

.section-no-bg h4 {
  border-bottom: 1px solid #101010;
}

.section-no-bg li + a {
  margin-top: 20px;
}

.section-lblue {
  padding: 16px;
  background-color: white;
  margin: 0px 20px 20px 20px;
  /*&:last-of-type {
    margin-bottom: 20px;
  }
  &:first-of-type {
    margin-top: 0px;
  }*/
  background-color: #bfe1f2;
}

.section-lblue a {
  color: #101012;
}

.section-lblue li + li a {
  margin-top: 10px;
}

.section-lblue li a {
  text-decoration: underline;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-lblue li a:hover:after {
  right: 0;
}

.section-lblue h4 {
  border-bottom: 1px solid #101010;
}

.section-lblue li + a {
  margin-top: 20px;
}

.section-lgrey {
  padding: 16px;
  background-color: white;
  margin: 0px 20px 20px 20px;
  /*&:last-of-type {
    margin-bottom: 20px;
  }
  &:first-of-type {
    margin-top: 0px;
  }*/
  background-color: #c4c4c4;
}

.section-lgrey a {
  color: #101012;
}

.section-lgrey li + li a {
  margin-top: 10px;
}

.section-lgrey li a {
  text-decoration: underline;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-lgrey li a:hover:after {
  right: 0;
}

.section-lgrey h4 {
  border-bottom: 1px solid #101010;
}

.section-lgrey li + a {
  margin-top: 20px;
}

.section-green {
  padding: 16px;
  background-color: white;
  margin: 0px 20px 20px 20px;
  /*&:last-of-type {
    margin-bottom: 20px;
  }
  &:first-of-type {
    margin-top: 0px;
  }*/
  background-color: #368f5f;
  color: white;
}

.section-green a {
  color: #101012;
}

.section-green li + li a {
  margin-top: 10px;
}

.section-green li a {
  text-decoration: underline;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-green li a:hover:after {
  right: 0;
}

.section-green h4 {
  border-bottom: 1px solid #101010;
}

.section-green li + a {
  margin-top: 20px;
}

.section-green a {
  color: white;
}

.section-green h4 {
  border-bottom: 1px solid white;
}

.section-lyellow {
  padding: 16px;
  background-color: white;
  margin: 0px 20px 20px 20px;
  /*&:last-of-type {
    margin-bottom: 20px;
  }
  &:first-of-type {
    margin-top: 0px;
  }*/
  background-color: #ffffc6;
}

.section-lyellow a {
  color: #101012;
}

.section-lyellow li + li a {
  margin-top: 10px;
}

.section-lyellow li a {
  text-decoration: underline;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-lyellow li a:hover:after {
  right: 0;
}

.section-lyellow h4 {
  border-bottom: 1px solid #101010;
}

.section-lyellow li + a {
  margin-top: 20px;
}

.section-yellow {
  padding: 16px;
  background-color: white;
  margin: 0px 20px 20px 20px;
  /*&:last-of-type {
    margin-bottom: 20px;
  }
  &:first-of-type {
    margin-top: 0px;
  }*/
  background-color: #ffff00;
}

.section-yellow a {
  color: #101012;
}

.section-yellow li + li a {
  margin-top: 10px;
}

.section-yellow li a {
  text-decoration: underline;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-yellow li a:hover:after {
  right: 0;
}

.section-yellow h4 {
  border-bottom: 1px solid #101010;
}

.section-yellow li + a {
  margin-top: 20px;
}

.section-grey {
  padding: 16px;
  background-color: white;
  margin: 0px 20px 20px 20px;
  /*&:last-of-type {
    margin-bottom: 20px;
  }
  &:first-of-type {
    margin-top: 0px;
  }*/
  background-color: #c4c4c4;
}

.section-grey a {
  color: #101012;
}

.section-grey li + li a {
  margin-top: 10px;
}

.section-grey li a {
  text-decoration: underline;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-grey li a:hover:after {
  right: 0;
}

.section-grey h4 {
  border-bottom: 1px solid #101010;
}

.section-grey li + a {
  margin-top: 20px;
}

.section-dgrey {
  padding: 16px;
  background-color: white;
  margin: 0px 20px 20px 20px;
  /*&:last-of-type {
    margin-bottom: 20px;
  }
  &:first-of-type {
    margin-top: 0px;
  }*/
  background-color: #2b2b2b;
  color: white;
}

.section-dgrey a {
  color: #101012;
}

.section-dgrey li + li a {
  margin-top: 10px;
}

.section-dgrey li a {
  text-decoration: underline;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-dgrey li a:hover:after {
  right: 0;
}

.section-dgrey h4 {
  border-bottom: 1px solid #101010;
}

.section-dgrey li + a {
  margin-top: 20px;
}

.section-black {
  padding: 16px;
  background-color: white;
  margin: 0px 20px 20px 20px;
  /*&:last-of-type {
    margin-bottom: 20px;
  }
  &:first-of-type {
    margin-top: 0px;
  }*/
  background-color: #101012;
  color: white;
}

.section-black a {
  color: #101012;
}

.section-black li + li a {
  margin-top: 10px;
}

.section-black li a {
  text-decoration: underline;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-black li a:hover:after {
  right: 0;
}

.section-black h4 {
  border-bottom: 1px solid #101010;
}

.section-black li + a {
  margin-top: 20px;
}

.section-black a {
  color: white;
}

.section-black h4 {
  border-bottom: 1px solid white;
}

.section-image {
  min-height: 200px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-image a {
  color: white;
}

/* Styling for bulletin-lists */
.no-bull {
  list-style-type: none;
}

/*** 
BUTTONS 
***/
/* Button on top of image */
.std-button {
  margin-top: 20px;
  padding: 10px 40px 10px 20px;
  text-decoration: none;
  font-weight: 900;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  color: #101012;
  border: 1px solid black;
  position: relative;
  left: 0px;
}

.std-button:after {
  font-weight: 900;
  content: ">";
  padding-left: 10px;
}

.std-button:hover {
  color: #101012;
}

.std-button:after {
  position: absolute;
  font-weight: 900;
  content: ">";
  margin-right: 15px;
  right: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

a:hover:after {
  right: 0;
}

.white-button {
  padding: 10px 40px 10px 20px;
  text-decoration: none;
  font-weight: 900;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 1;
  color: white;
  border: 1px solid #c8c8c8;
  text-align: left;
  position: relative;
}

.white-button:after {
  font-weight: 900;
  content: ">";
  padding-left: 10px;
}

.white-button:after {
  position: absolute;
  font-weight: 900;
  content: ">";
  margin-right: 15px;
  right: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.white-button a:hover {
  color: white;
  border: 1px solid white;
}

.white-button a:hover:after {
  right: 0;
}

.section-button {
  padding: 10px 40px 10px 20px;
  text-decoration: none;
  font-weight: 900;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 1;
  color: white;
  border: 1px solid #c8c8c8;
  text-align: left;
  position: relative;
}

.section-button:after {
  font-weight: 900;
  content: ">";
  padding-left: 10px;
}

.section-button:after {
  position: absolute;
  font-weight: 900;
  content: ">";
  margin-right: 15px;
  right: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.section-button a:hover {
  color: white;
  border: 1px solid white;
}

.section-button a:hover:after {
  right: 0;
}

.small-white-button {
  border: 1px solid #c8c8c8;
  color: white;
  font-size: 0.8rem;
  padding: 6px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
}

.small-white-button:hover {
  color: white;
  border: 1px solid white;
}

.small-black-button {
  border: 1px solid #c8c8c8;
  color: white;
  font-size: 0.8rem;
  padding: 6px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  color: #101012;
  border: 1px solid #101012;
}

.small-black-button:hover {
  color: white;
  border: 1px solid white;
}

.small-black-button:hover {
  color: #101012;
  border: 1px solid #101012;
}

i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.to-top-btn {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  position: fixed;
  bottom: 0;
  right: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 3em 3em 0;
  padding: 0.25em;
  width: 50px;
  height: 50px;
  background-color: #101012;
  color: white;
  border: 1px solid white;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  font-size: 0.8rem;
  z-index: 2;
}

.to-top-btn:hover {
  color: white;
}

@media (max-width: 1020px) {
  a.to-top-btn {
    display: none;
  }
}

/*** 
STYLED LINKS 
***/
/*** 
DEFAULT EFFECTS 
***/
/* Dark effect on image */
.darken {
  position: relative;
}

.darken:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
}

/*** 
CONTENT USED ON MULTIPLE PAGES
***/
/* Styling for heading - social container */
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  margin-top: 10px;
}

@media (min-width: 1020px) {
  .social img {
    width: 25px;
    height: 25px;
    margin-top: 0px;
  }
}

.social h2 {
  font-weight: 900;
  font-size: 1rem;
}

.social li {
  margin: 0px 0px 0px 10px;
}

.social li a:after {
  content: none;
}

.social img {
  margin: 0px;
}

/* Styling for social icons */
.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.social-icons li a {
  margin-top: 10px;
  margin-bottom: 10px;
}

/*** 
DEFAULT STYLING IMAGES
***/
.page-head-img {
  width: 100%;
}

img,
object {
  margin: 0px 0px 20px 0px;
}

/***  
POSITIONING STYLING
***/
.pos-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pos-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.pos-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.make-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.make-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.make-margin-up {
  margin-top: 50px;
}

/*** 
STYLING: SPECIFIC PAGES 
***/
/* Om oss */
#om-oss-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#om-oss-image {
  background-image: url("../media/om-oss/om-oss-image.jpg");
  background-color: #101012;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}

/* Verksamhetsområden */
#verksamhet-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#yh-image {
  background-image: url("../media/verksamhetsomraden/yh-image.jpg");
  background-color: #101012;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#konst-image {
  background-image: url("../media/verksamhetsomraden/konst-image.jpg");
  background-color: #101012;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#tolk-image {
  background-image: url("../media/verksamhetsomraden/tolk-image.jpg");
  background-color: #101012;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#tillsyn-image {
  background-image: url("../media/verksamhetsomraden/tillsyn-image.jpg");
  background-color: #101012;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#seqf-image {
  background-image: url("../media/verksamhetsomraden/seqf-image.jpg");
  background-color: #101012;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#validering-image {
  background-image: url("../media/verksamhetsomraden/validering-image.jpg");
  background-color: #101012;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Kontakta oss */
#contact-form-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
  background-color: white;
  margin: 0px 20px 20px 20px;
  /*&:last-of-type {
    margin-bottom: 20px;
  }
  &:first-of-type {
    margin-top: 0px;
  }*/
  background-color: #bfe1f2;
}

#contact-form-section a {
  color: #101012;
}

#contact-form-section li + li a {
  margin-top: 10px;
}

#contact-form-section li a {
  text-decoration: underline;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#contact-form-section li a:hover:after {
  right: 0;
}

#contact-form-section h4 {
  border-bottom: 1px solid #101010;
}

#contact-form-section li + a {
  margin-top: 20px;
}

#contact-form-section h2 {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

#contact-form-section form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  background-color: #bfe1f2;
}

#contact-form-section form label {
  padding-top: 20px;
}

#contact-form-section form input,
#contact-form-section form textarea {
  width: 100%;
  font-size: 1.2rem;
  height: 45px;
  border: 1px solid #101012;
}

#contact-form-section form textarea {
  min-height: 135px;
}

#contact-form-section form #form-send-btn {
  margin-top: 20px;
  text-decoration: none;
  color: #101012;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
  display: inline-block;
  border: 1px solid #717171;
  cursor: pointer;
}

#contact-form-section form #form-send-btn:hover {
  border: 1px solid black;
}

.small-form-text {
  font-size: 0.8rem;
  margin-top: 10px;
}

#contact-section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

#grid-hitta {
  margin-bottom: 20px;
}

#grid-hitta p {
  margin-top: 20px;
}

#grid-hitta #section-map {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

#grid-hitta #section-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

/***
FRONTPAGE CSS
------------------------
CSS FOR FRONTPAGE HEADER
***/
.header-container {
  height: 400px;
  width: 100%;
  position: relative;
  font-weight: 900;
  margin-bottom: 20px;
}

.header-container .header-image {
  background-image: url("../media/header-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

.header-container .header-content {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  left: 20px;
  bottom: 20%;
  color: white;
}

.header-container .header-content h1 {
  font-size: 1.6rem;
}

.header-container .header-content p {
  font-size: 1.4rem;
  font-weight: 900;
}

.header-container .header-content a,
.header-container .header-content a:hover {
  margin-top: 20px;
  color: white;
}

/***
FRONTPAGE CONTAINER PROPERTIES
***/
.frontpage-link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px 20px;
}

.frontpage-link-container h4 {
  width: 100%;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-bottom: 20px;
  margin-bottom: 30px;
  font-weight: 900;
}

.frontpage-link-container a {
  display: inline-block;
  text-decoration: none;
}

.frontpage-link-container p a {
  text-decoration: underline;
  font-weight: 500;
}

.frontpage-link-container p a:after {
  content: ">";
  padding-left: 10px;
  text-decoration: none;
  display: inline-block;
}

.small-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
  margin: 20px 20px;
  padding: 40px 30px;
}

.small-container a {
  font-weight: 900;
  text-decoration: none;
}

.youtube {
  margin-top: 0;
}

.youtube #youtube-div {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin-bottom: 20px;
}

.youtube .youtube-iframe {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content-spread {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/***
CALENDAR PROPERTIES
***/
.calendar .calendar-container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.calendar .calendar-container .calendar-header {
  width: 100%;
}

.calendar .calendar-container .calendar-header h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calendar .calendar-container .calendar-header h4 a {
  text-decoration: underline;
}

.calendar .std-button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.calendar-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calendar-post a {
  text-decoration: underline;
}

.calendar-post .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 50%;
  height: 80px;
  margin-right: 30px;
  background-color: white;
  border: 1px solid black;
}

.calendar-post .date .kalender-dag {
  font-size: 1.6rem;
  font-weight: bold;
}

.calendar-post .date .kalender-manad {
  font-size: 1rem;
  font-weight: bold;
}

.calendar-post + .calendar-post {
  margin-top: 20px;
}

.thomas-image {
  background-color: #101012;
  text-align: right;
  margin: 20px 20px;
}

.thomas-image > a {
  background-image: url("../media/thomas_bw.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 50px;
  min-height: 400px;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 8px black;
  font-weight: 900;
  -webkit-transition: background-image 1s;
  transition: background-image 1s;
  padding-bottom: 20px;
  position: relative;
  right: 0px;
}

.thomas-image > a:after {
  position: absolute;
  font-weight: 900;
  content: ">";
  margin-left: 10px;
  right: 20px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.thomas-image a:hover {
  background-image: url("../media/thomas.jpg");
  background-size: cover;
}

.thomas-image a:hover:after {
  right: 15px;
}

.epale-image {
  text-align: right;
  margin: 20px 20px;
  background-color: white;
  background-color: #004890;
}

.epale-image a {
  background-repeat: no-repeat;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 20px;
  color: white;
  font-weight: 900;
  height: 104px;
  position: relative;
  right: 15px;
}

.epale-image a:after {
  position: absolute;
  font-weight: 900;
  content: ">";
  margin-left: 10px;
  right: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.epale-image a:hover:after {
  right: 0;
}

.epale-image a {
  background-image: url("../media/eu_flag.png");
  background-position-y: 28px;
  background-position-x: 25px;
  background-size: 10%;
}

.ya-image {
  text-align: right;
  margin: 20px 20px;
  background-color: white;
  background-color: white;
  border: solid #c3c3c3 1px;
}

.ya-image a {
  background-repeat: no-repeat;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 20px;
  color: white;
  font-weight: 900;
  height: 104px;
  position: relative;
  right: 15px;
}

.ya-image a:after {
  position: absolute;
  font-weight: 900;
  content: ">";
  margin-left: 10px;
  right: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.ya-image a:hover:after {
  right: 0;
}

.ya-image > a {
  background-image: url("../media/ya-logo.png");
  background-position-x: 30px;
  background-position-y: 17px;
  color: #101012;
}

/***
AKTUELLT
***/
.aktuellt {
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.aktuellt #las-nyheter-button {
  margin-top: 0;
}

.aktuellt h4 {
  text-align: center;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-weight: 900;
  border-bottom: 1px solid #101010;
}

.aktuellt .aktuellt-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.aktuellt .aktuellt-container span {
  margin: 0 auto;
}

.aktuellt .aktuellt-article {
  margin: 0px 20px 20px 20px;
  padding: 20px 20px;
  background-color: #e3ede8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.aktuellt .aktuellt-article p span {
  color: #363636;
  display: block;
  margin: 10px 0px;
}

.aktuellt .aktuellt-article img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
}

.aktuellt .aktuellt-article .article-post-link {
  color: black;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-weight: 900;
  text-decoration: underline;
}

.aktuellt .aktuellt-first-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* Elements without their own classes or id that needs additional styling */
#publikationer-a,
#brister {
  margin-top: 20px;
}

.calendar-container header {
  margin-bottom: 20px;
}

.calendar-container header h4 {
  display: inline;
  border: none;
}

.calendar-container header a {
  font-weight: bold;
  float: right;
  text-decoration: underline;
}

/**
FOOTER
**/
footer {
  margin-top: 20px;
  width: 100%;
  background-color: #363636;
  position: relative;
  bottom: 0px;
  margin-top: 30px;
  padding-top: 30px;
}

footer p,
footer li {
  font-size: 0.9rem;
  padding-bottom: 5px;
}

footer .footer-container {
  background-color: #363636;
  padding: 10px 30px;
  color: white;
  width: 100%;
  font-size: 1rem;
  /** FLEX **/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

footer .footer-container h4 {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

footer .footer-container p {
  color: white;
  font-weight: 100;
}

footer .footer-container a {
  color: white;
  font-weight: 400;
}

footer .footer-container .footer-section {
  width: 300px;
  margin-bottom: 40px;
}

footer .footer-container li {
  margin-bottom: 5px;
}

footer .bottom-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  background-color: #101010;
  color: white;
  padding: 0 20px;
  text-align: center;
}

/*** Grids desktop***/
/** Index desktop**/
/* First half index desktop */
@media (min-width: 1020px) {
  #main-index {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 400px 350px 1fr;
        grid-template-rows: 400px 350px 1fr;
        grid-template-areas: "bakgr bakgr verks" "ansok fordig forforetag" "aktuellt annat annat";
  }
  #main-index .header-container {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: bakgr;
    width: auto;
    margin-left: 20px;
  }
  #main-index #grid-verks {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: verks;
    margin: 0 20px;
  }
  #main-index #grid-ansok {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: ansok;
    margin-right: 0px;
    margin-top: 20px;
  }
  #main-index #grid-fordig {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: fordig;
    margin-right: 0;
    margin-top: 20px;
  }
  #main-index #grid-forforetag {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: forforetag;
    margin-top: 20px;
  }
  #main-index .youtube {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: annat;
    background: #101012;
    margin-bottom: 20px;
  }
  #main-index .youtube h4 {
    width: 90%;
  }
  #main-index .kalender {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: aktuellt;
    margin-right: 0px;
    margin-top: 0;
  }
  /* Second half - News and aside desktop*/
  .second-part {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 0.5fr;
        grid-template-columns: 1fr 0.5fr;
    -ms-grid-rows: 0.6fr;
        grid-template-rows: 0.6fr;
        grid-template-areas: "aktuellt aside";
    /*#top-knapp {
      grid-area: aside;
      height: 78px;
    }*/
    /*.pos-right {
      grid-area: aside;
      height: 78px;
    }*/
  }
  .second-part .first-aside {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: aside;
  }
  .second-part .first-aside #brister {
    margin-top: 0px;
  }
  .second-part .aktuellt {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: aktuellt;
  }
  .second-part .aktuellt .aktuellt-article {
    margin: 0 0 20px 20px;
  }
  .second-part #las-nyheter-button {
    margin-top: 20px;
    margin-left: 20px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  /** Kontakt desktop**/
  .grid-container-kontakt {
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 420px;
        grid-template-columns: 1fr 420px;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "contact-main contact-aside";
  }
  .grid-container-kontakt #contact-main {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: contact-main;
  }
  .grid-container-kontakt #contact-main #contact-form-section {
    grid-area: kontakt-form;
  }
  .grid-container-kontakt #contact-main #contact-form-section form {
    width: 100%;
  }
  .grid-container-kontakt #contact-aside {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: contact-aside;
  }
  .grid-container-kontakt #contact-aside #grid-post-besok {
    margin-left: 0px;
  }
  .grid-container-kontakt #contact-aside #grid-tele {
    margin-left: 0;
  }
  .grid-container-kontakt #contact-aside #grid-3x {
    grid-area: kontakt-3x;
  }
  .grid-container-kontakt #contact-aside #grid-3x #grid-3x-1, .grid-container-kontakt #contact-aside #grid-3x #grid-3x-2, .grid-container-kontakt #contact-aside #grid-3x #grid-3x-3 {
    margin-left: 0px;
  }
  .grid-container-kontakt #contact-aside #grid-hitta {
    grid-area: grid-hitta;
  }
  .grid-container-kontakt #contact-aside #grid-org {
    margin-left: 0px;
  }
  /** Om Oss **/
  .grid-container-om-oss {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 420px;
        grid-template-columns: 1fr 420px;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "om-oss-main om-oss-aside";
  }
  .grid-container-om-oss #om-oss-main {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: om-oss-main;
  }
  .grid-container-om-oss #om-oss-main .head-section {
    margin-bottom: 20px;
  }
  .grid-container-om-oss #om-oss-aside {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: om-oss-aside;
  }
  .grid-container-om-oss #om-oss-aside #om-oss-menu, .grid-container-om-oss #om-oss-aside #yrkes-sm, .grid-container-om-oss #om-oss-aside .thomas-image {
    margin-left: 0px;
  }
  .grid-container-om-oss #om-oss-aside #hitta-utbildingar {
    margin-top: 20px;
    margin-left: 0px;
  }
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-container .flex-item {
  width: 30%;
}

@media screen and (max-width: 930px) {
  .flex-container .flex-item {
    width: unset;
  }
}

@media screen and (min-width: 931px) {
  .flex-container #verk-flex-mid-1, .flex-container #verk-flex-mid-2 {
    margin-left: 0px;
    margin-right: 0px;
  }
}
/*# sourceMappingURL=main-page.css.map */