/// Colours & fonts

$primary-color: rgb(245, 245, 245); // nearly white
$secondary-color: rgb(255, 255, 255); // very light grey

// Background colors
$white-box-color: #ffffff; //white
$grey-box-color: #c4c4c4; //grey
$dgrey-box-color: #2b2b2b; //dark grey
$black-box-color: #000000; // black
$lyellow-box-color: #ffffc6; // light yellow
$yellow-box-color: #ffff00; // yellow
$lblue-box-color: #bfe1f2; //light blue
$green-box-color: #368f5f; // green

/// Font colors
$white-text: #ffffff;
$black-text: #000000;
$on-image-link-color: #ffffff;

$link-color: #08c;
$hover-font-color: #000000;

/// Font
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:100,300,400,900&display=swap&subset=cyrillic,cyrillic-ext,latin-ext");

@import "_header-nav.scss";
$font_roboto: "Roboto", sans-serif;

/*** Default styling ***/
/// Root
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/// Clearfix
.clearfix {
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    content: " ";
    display: table;
  }
}
.row {
  &:after {
    clear: both;
  }
}

body {
  height: 100%;
  line-height: 1.5;
  font-size: 16px;
  font-family: $font_roboto;
  background-color: $primary-color;
}

/*** Font-sizes & font-weights, and default padding/margins ***/
h1 {
  font-size: 1.9rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 5px;
  > strong {
    font-size: 1rem;
  }
  > span {
    font-size: 1rem;
  }
}

a {
  font-size: 1rem;
  color: $link-color;
  &:hover {
    color: $hover-font-color;
  }
}

/*** Styling pages ***/
@mixin standard-container {
  padding: 16px;
  background-color: $secondary-color;
  margin: 20px 20px 0px 20px;
  &:last-of-type {
    margin-bottom: 20px;
  }
  &:first-of-type {
    margin-top: 0px;
  }
}

.head-section {
  @include standard-container;
  p {
    font-size: 1.2rem;
    font-weight: 500;
  }
}

.section {
  @include standard-container;
}

.section-lblue {
  @include standard-container;
  background-color: $lblue-box-color;
}

.section-green {
  @include standard-container;
  background-color: $green-box-color;
  color: $white-text;
}

.section-lyellow {
  @include standard-container;
  background-color: $lyellow-box-color;
}

.section-yellow {
  @include standard-container;
  background-color: $yellow-box-color;
}

.section-grey {
  @include standard-container;
  background-color: $grey-box-color;
}

.section-dgrey {
  @include standard-container;
  background-color: $dgrey-box-color;
  color: $white-text;
}

.section-black {
  @include standard-container;
  background-color: $black-box-color;
  color: $white-text;
}

.section-image {
  min-height: 200px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Buttons */
.section-button { 
    padding: 10px;
    text-decoration: none;
    border: 1px solid rgb(150, 150, 150);
    text-align: center;
    color: $white-text;
    z-index: 1;
    text-decoration: none;
    &:hover {
      color: $white-text;
      border: 1px solid rgb(255, 255, 255);
  }
}

.std-button {
  > a {
    text-decoration: none;
    color: $black-text;
    margin-top: 20px;
    color: $black-text;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: transparent;
    display: inline-block;
    border: 1px solid rgb(100, 100, 100);
    &:hover {
      border: 1px solid rgb(0, 0, 0);
    }
  }
}

/* Dark effect on image */
.darken {
  position: relative;
}

.darken:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
}

/*** Styling - Specific pages ***/

/* Om oss */
#om-oss-main {
  display: flex;
  flex-direction: column;
}

#om-oss-image {
  background-image: url("../media/om-oss/om-oss-image.jpg");
  background-color: $black-box-color;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}

/* Verksamhetsområden */
#verksamhet-main {
  display: flex;
  flex-direction: column;
}

#yh-image {
  background-image: url("../media/verksamhetsomraden/yh-image.jpg");
  background-color: $black-box-color;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#konst-image {
  background-image: url("../media/verksamhetsomraden/konst-image.jpg");
  background-color: $black-box-color;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#tolk-image {
  background-image: url("../media/verksamhetsomraden/tolk-image.jpg");
  background-color: $black-box-color;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#tillsyn-image {
  background-image: url("../media/verksamhetsomraden/tillsyn-image.jpg");
  background-color: $black-box-color;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#seqf-image {
  background-image: url("../media/verksamhetsomraden/seqf-image.jpg");
  background-color: $black-box-color;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#validering-image {
  background-image: url("../media/verksamhetsomraden/validering-image.jpg");
  background-color: $black-box-color;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Kontakta oss */
#kontakta-oss-main {
  background-color: $primary-color;
  width: 100%;
  
  #kontakta-oss-header {

    h1 {
      padding: 20px 20px 0 20px;
    }
  }
}

#contact-section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include standard-container;
  padding: 0;
  margin-bottom: 0px;
  margin-top: 0px;
  background-color: $primary-color;

  #contact-img {
    width: 100%;
    padding-bottom: 12px;
  }
}

#contact-section-2 {
  @include standard-container;
  margin-bottom: 0px;
}

#contact-section-3 {
  @include standard-container;
  background-color: $lyellow-box-color;
  margin-bottom: 0px;
}

#contact-section-4 {
  @include standard-container;
  background-color: $yellow-box-color;
  margin-bottom: 0px;
}

#contact-section-5 {
  @include standard-container;
  background-color: $grey-box-color;
}

#contact-form-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include standard-container;
  padding: 0 8px 0 0;
  margin-bottom: 0px;
  background-color: $lblue-box-color;
  width: 100%;

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    @include standard-container;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    background-color: $lblue-box-color;

    label {
      font-size: 1.1rem;
      font-weight: bold;
      padding-left: 4px;
    }

    h2 {
    }

    #top-label {
    }

    input,
    textarea {
      padding: 8px;
      margin: 4px 4px 8px 4px;
      border-radius: 4px;
      width: 100%;
      font-size: 1.5rem;
    }

    textarea {
      min-height: 105px;
    }

    #form-send-btn {
      max-width: 100px;
    }
  }
}

#contact-section-container {
  display: flex;
  flex-direction: column;
  text-align: left;

  #large-p {
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 6px;
    line-height: 1;
  }

  #small-p {
  }

  #section-map {
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;
    padding-top: 56.25%;

    iframe {
      position: absolute;
      top: 0;
      left: 2%;
      width: 96%;
      height: 100%;
      border: 0;
      margin-top: 20px;
    }
  }
}

/***
HEADER
***/

header {
  position: relative;
  font-weight: 900;
}

.header-image {
  height: 100%;
  width: 100%;
}

.header-fade {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: black;
  opacity: 0.7;
}

.header-content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  left: 20px;
  top: 20%;
  color: white;
}

.header-link {
  border: 2px solid white;
  color: white;
  text-decoration: none;
  padding: 5px 5px;
  margin: 10px 0px;
  align-self: flex-start;
}

/***
MAINPAGE: MAINLY PROPERTIES FOR CONTAINERS
***/

section + section {
  margin-top: 50px;
}

.big-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  margin: 20px 20px;
  padding: 20px 20px;
  min-width: 230px;
  max-width: 370px;
  h4 {
    align-self: center;
    padding-bottom: 20px;
    margin-bottom: 30px;
    font-weight: 900;
    border-bottom: 1px solid #101010;
  }
  a {
    color: black;
    display: inline-block;
    padding: 5px 5px;
    text-decoration: none;
  }
}

.small-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 10px 20px;
  padding: 20px 20px;
  min-width: 230px;
  max-width: 370px;
  min-height: 100px;
  max-height: 200px;
  a {
    text-decoration: none;
    color: black;
  }
}

.article-button {
  text-decoration: none;
  display: inline-block;
  align-self: center;
  margin: 20px 0px;
  padding: 5px 5px;
  border: 2px solid black;
}

.youtube {
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: #fff5f5;
  padding: 10px 0px;
}

.image-box {
  background-color: white;
  padding: 0;
  opacity: 0.6;
  .thomas-image {
    height: 100%;
    width: 100%;
    min-width: 230px;
    max-width: 370px;
  }
}

.aktuellt {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}

.aktuellt-article {
  margin: 20px 20px;
  padding: 10px 20px;
  background-color: #e3ede8;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  p {
    span {
      color: darkgrey;
      display: block;
      margin: 10px 0px;
    }
  }
}

.aktuellt-article {
  img {
    align-self: center;
    height: 300px;
    width: 330px;
    margin-bottom: 20px;
  }
}

.article-post-link {
  color: black;
  align-self: flex-end;
  font-weight: 900;
  text-decoration: underline;
}

/***
EFFECT FOR 'AKTUELLT' TITLE TEXT
***/

.aktuellt {
  h4 {
    text-align: center;
    width: 90%;
    padding-bottom: 10px;
    font-weight: 900;
    border-bottom: 1px solid #101010;
  }
}

/***
COLOR CHANGES TO CONTAINERS
***/

.lightblue {
  background-color: #e3ede8;
  color: #000000;
}

.black {
  background-color: #000000;
  color: white;
}

.black {
  a {
    color: white;
  }
}

.black {
  h4 {
    a {
      color: white;
    }
  }
}

.beige {
  background-color: #ffffc6;
  color: #000000;
}

.lightpurple {
  background-color: #e8e8e8;
  color: #000000;
}

.yellow {
  background-color: #ffff00;
  color: #000000;
}

.green {
  background-color: #368f5f;
  color: #000000;
}