@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:100,300,400,900&display=swap&subset=cyrillic,cyrillic-ext,latin-ext");
.top-links-nav {
  background-color: white;
}

.top-links-nav .top-links-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
  line-height: 30px;
  font-weight: bold;
}

.top-links-nav .top-links-ul .top-links-li {
  padding-right: 10px;
  display: inline-block;
  min-height: 30px;
}

.top-links-nav .top-links-ul .top-links-li a {
  font-size: 1rem;
}

#kontakt-logo-anchor {
  position: absolute;
  top: 0;
  margin: 10px;
}

#main-menu-li-logo {
  position: absolute;
  left: 0;
  top: 0;
}

.main-menu-nav .main-menu-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-menu-nav .main-menu-ul li {
  display: inline-block;
}

.main-menu-nav .main-menu-ul li .kontakt-logo-img {
  max-width: 260px;
}

.main-menu-li-links {
  width: 45px;
  margin: 10px 10px 10px 0px;
  text-align: center;
}

.main-menu-li-links :hover {
  cursor: pointer;
}

.main-menu-li-links :focus-within {
  outline: #3b99fc auto 5px;
}

.main-menu-li-links .anchor-focus:focus {
  border: none;
}

.burger-menu-image {
  height: 45px;
}

.search-menu-image {
  height: 45px;
}

#nav-search .main-menu {
  display: none;
}

#cb-hack:checked + .main-menu {
  display: block;
}

#nav-search input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

::-webkit-input-placeholder {
  color: #070707;
  font-size: 1.5rem;
}

:-ms-input-placeholder {
  color: #070707;
  font-size: 1.5rem;
}

::-ms-input-placeholder {
  color: #070707;
  font-size: 1.5rem;
}

::placeholder {
  color: #070707;
  font-size: 1.5rem;
}

#user-search {
  line-height: 36px;
  font-size: 2rem;
  color: #070707;
  position: relative;
  left: 0%;
  top: 200px;
  z-index: 99;
}

#opacity-cover {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.main-menu #cb-hack {
  position: relative;
  left: 6px;
  top: 200px;
  color: #af1919;
  font-size: 1.5rem;
  padding: 10px 10px;
  z-index: 999;
}

#nav-menu .main-menu-2 {
  display: none;
}

#cb-hack-2:checked + .main-menu-2 {
  display: block;
}

#nav-menu input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

#nav-menu .main-menu-2 {
  z-index: 5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

#nav-menu .main-menu-2 #label-inside-menu {
  position: absolute;
  right: 2%;
  top: 0%;
  color: #e04848;
  font-size: 1.5rem;
  z-index: 799;
}

#nav-menu .main-menu-2 li {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  line-height: 42px;
}

#nav-menu .main-menu-2 li a {
  text-decoration: none;
  color: #4b4949;
  font-size: 1.5rem;
  background: #f1ecec;
  position: relative;
  display: block;
  overflow: hidden;
}

#nav-search, #nav-menu {
  font-size: 1.1rem;
  font-weight: bold;
  z-index: 1;
}

#nav-search :focus-within, #nav-menu :focus-within {
  border: none;
}

/*** Default styling ***/
* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.clearfix:before {
  content: " ";
  display: table;
}

.clearfix:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

body {
  height: 100%;
  line-height: 1.5;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background-color: whitesmoke;
}

/*** Font-sizes & font-weights, and default padding/margins ***/
h1 {
  font-size: 1.9rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 5px;
}

p > strong {
  font-size: 1rem;
}

p > span {
  font-size: 1rem;
}

a {
  font-size: 1rem;
  color: #08c;
}

a:hover {
  color: #000000;
}

/*** Styling pages ***/
.head-section {
  padding: 16px;
  background-color: white;
  margin: 20px 20px 0px 20px;
}

.head-section:last-of-type {
  margin-bottom: 20px;
}

.head-section:first-of-type {
  margin-top: 0px;
}

.head-section p {
  font-size: 1.2rem;
  font-weight: 500;
}

.section {
  padding: 16px;
  background-color: white;
  margin: 20px 20px 0px 20px;
}

.section:last-of-type {
  margin-bottom: 20px;
}

.section:first-of-type {
  margin-top: 0px;
}

.section-lblue {
  padding: 16px;
  background-color: white;
  margin: 20px 20px 0px 20px;
  background-color: #bfe1f2;
}

.section-lblue:last-of-type {
  margin-bottom: 20px;
}

.section-lblue:first-of-type {
  margin-top: 0px;
}

.section-green {
  padding: 16px;
  background-color: white;
  margin: 20px 20px 0px 20px;
  background-color: #368f5f;
  color: #ffffff;
}

.section-green:last-of-type {
  margin-bottom: 20px;
}

.section-green:first-of-type {
  margin-top: 0px;
}

.section-lyellow {
  padding: 16px;
  background-color: white;
  margin: 20px 20px 0px 20px;
  background-color: #ffffc6;
}

.section-lyellow:last-of-type {
  margin-bottom: 20px;
}

.section-lyellow:first-of-type {
  margin-top: 0px;
}

.section-yellow {
  padding: 16px;
  background-color: white;
  margin: 20px 20px 0px 20px;
  background-color: #ffff00;
}

.section-yellow:last-of-type {
  margin-bottom: 20px;
}

.section-yellow:first-of-type {
  margin-top: 0px;
}

.section-grey {
  padding: 16px;
  background-color: white;
  margin: 20px 20px 0px 20px;
  background-color: #c4c4c4;
}

.section-grey:last-of-type {
  margin-bottom: 20px;
}

.section-grey:first-of-type {
  margin-top: 0px;
}

.section-dgrey {
  padding: 16px;
  background-color: white;
  margin: 20px 20px 0px 20px;
  background-color: #2b2b2b;
  color: #ffffff;
}

.section-dgrey:last-of-type {
  margin-bottom: 20px;
}

.section-dgrey:first-of-type {
  margin-top: 0px;
}

.section-black {
  padding: 16px;
  background-color: white;
  margin: 20px 20px 0px 20px;
  background-color: #000000;
  color: #ffffff;
}

.section-black:last-of-type {
  margin-bottom: 20px;
}

.section-black:first-of-type {
  margin-top: 0px;
}

.section-image {
  min-height: 200px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Buttons */
.section-button {
  padding: 10px;
  text-decoration: none;
  border: 1px solid #969696;
  text-align: center;
  color: #ffffff;
  z-index: 1;
  text-decoration: none;
}

.section-button:hover {
  color: #ffffff;
  border: 1px solid white;
}

.std-button > a {
  text-decoration: none;
  color: #000000;
  margin-top: 20px;
  color: #000000;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
  display: inline-block;
  border: 1px solid #646464;
}

.std-button > a:hover {
  border: 1px solid black;
}

/* Dark effect on image */
.darken {
  position: relative;
}

.darken:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
}

/*** Styling - Specific pages ***/
/* Om oss */
#om-oss-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#om-oss-image {
  background-image: url("../media/om-oss/om-oss-image.jpg");
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}

/* Verksamhetsområden */
#verksamhet-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#yh-image {
  background-image: url("../media/verksamhetsomraden/yh-image.jpg");
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#konst-image {
  background-image: url("../media/verksamhetsomraden/konst-image.jpg");
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#tolk-image {
  background-image: url("../media/verksamhetsomraden/tolk-image.jpg");
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#tillsyn-image {
  background-image: url("../media/verksamhetsomraden/tillsyn-image.jpg");
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#seqf-image {
  background-image: url("../media/verksamhetsomraden/seqf-image.jpg");
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#validering-image {
  background-image: url("../media/verksamhetsomraden/validering-image.jpg");
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Kontakta oss */
#contact-img {
  width: 100%;
}

#contact-form-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
  background-color: white;
  margin: 20px 20px 0px 20px;
  background-color: #bfe1f2;
}

#contact-form-section:last-of-type {
  margin-bottom: 20px;
}

#contact-form-section:first-of-type {
  margin-top: 0px;
}

#contact-form-section form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  background-color: #bfe1f2;
}

#contact-form-section form label {
  padding-top: 8px;
}

#contact-form-section form label:first-of-type {
  padding-top: 0;
}

#contact-form-section form input,
#contact-form-section form textarea {
  width: 100%;
  font-size: 1.2rem;
}

#contact-form-section form textarea {
  min-height: 105px;
}

#contact-section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

#contact-section-container #section-map {
  position: relative;
  overflow: hidden;
  margin-bottom: 25px;
  padding-top: 56.25%;
}

#contact-section-container #section-map iframe {
  position: absolute;
  top: 0;
  left: 2%;
  width: 96%;
  height: 100%;
  border: 0;
  margin-top: 20px;
}

/***
HEADER
***/
header {
  position: relative;
  font-weight: 900;
}

.header-image {
  height: 100%;
  width: 100%;
}

.header-fade {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: black;
  opacity: 0.7;
}

.header-content {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  left: 20px;
  top: 20%;
  color: white;
}

.header-link {
  border: 2px solid white;
  color: white;
  text-decoration: none;
  padding: 5px 5px;
  margin: 10px 0px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

/***
MAINPAGE: MAINLY PROPERTIES FOR CONTAINERS
***/
section + section {
  margin-top: 50px;
}

.big-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 20px 20px;
  padding: 20px 20px;
  min-width: 230px;
  max-width: 370px;
}

.big-container h4 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-bottom: 20px;
  margin-bottom: 30px;
  font-weight: 900;
  border-bottom: 1px solid #101010;
}

.big-container a {
  color: black;
  display: inline-block;
  padding: 5px 5px;
  text-decoration: none;
}

.small-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 10px 20px;
  padding: 20px 20px;
  min-width: 230px;
  max-width: 370px;
  min-height: 100px;
  max-height: 200px;
}

.small-container a {
  text-decoration: none;
  color: black;
}

.article-button {
  text-decoration: none;
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 20px 0px;
  padding: 5px 5px;
  border: 2px solid black;
}

.youtube {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff5f5;
  padding: 10px 0px;
}

.image-box {
  background-color: white;
  padding: 0;
  opacity: 0.6;
}

.image-box .thomas-image {
  height: 100%;
  width: 100%;
  min-width: 230px;
  max-width: 370px;
}

.aktuellt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.aktuellt-article {
  margin: 20px 20px;
  padding: 10px 20px;
  background-color: #e3ede8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.aktuellt-article p span {
  color: darkgrey;
  display: block;
  margin: 10px 0px;
}

.aktuellt-article img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 300px;
  width: 330px;
  margin-bottom: 20px;
}

.article-post-link {
  color: black;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-weight: 900;
  text-decoration: underline;
}

/***
EFFECT FOR 'AKTUELLT' TITLE TEXT
***/
.aktuellt h4 {
  text-align: center;
  width: 90%;
  padding-bottom: 10px;
  font-weight: 900;
  border-bottom: 1px solid #101010;
}

/***
COLOR CHANGES TO CONTAINERS
***/
.lightblue {
  background-color: #e3ede8;
  color: #000000;
}

.black {
  background-color: #000000;
  color: white;
}

.black a {
  color: white;
}

.black h4 a {
  color: white;
}

.beige {
  background-color: #ffffc6;
  color: #000000;
}

.lightpurple {
  background-color: #e8e8e8;
  color: #000000;
}

.yellow {
  background-color: #ffff00;
  color: #000000;
}

.green {
  background-color: #368f5f;
  color: #000000;
}
/*# sourceMappingURL=main-page.css.map */