* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 16px;

    a {
        text-decoration: none;
        color: black;
    }
}

$primary-color: rgb(173, 168, 175);
$secondary-color: rgb(224, 219, 219);

@mixin mobile-large-res {
    @media (min-width: 410px) {
        @content;
    }
}

.top-links-nav {
    background-color: $secondary-color;

    .top-links-ul {
        display: flex;
        justify-content: space-around;
        text-align: right;
        line-height: 30px;

        @include mobile-large-res {
            justify-content: flex-end;
        }

        .top-links-li {
            margin-right: 2%;
            display: inline-block;
            min-height: 30px;

            @include mobile-large-res {
                padding-right: 15px;
            }

            a {
                font-size: 1rem;
            }
        }
    }
}

.main-menu-nav {
    background: $primary-color;

    .main-menu-ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 10px;

        @include mobile-large-res {
            padding-bottom: 12px;
            justify-content: flex-end;
        }

        .main-menu-li {
            display: inline-block;

            .main-menu-img {
                margin-top: 3%;

                @include mobile-large-res {
                    max-width: 240px;
                    margin-left: 0;
                }

            }
        }

        .main-menu-li-logo {
            margin-right: 5px;
            margin-left: 5px;

            @include mobile-large-res {
                position: absolute;
                left: 0;
            }
        }

        .main-menu-li-links {
            display: inline-block;
            flex-grow: 0.2;
            text-align: center;
            align-self: center;
            min-height: 45px;
            max-width: 100px;
            padding: 10px 1% 0 1%;
            margin: 8px 8px 0 8px;
            border: 3px solid black;
            border-radius: 6%;

            @include mobile-large-res {
                flex-grow: 0;
                width: 15%;
                margin-top: 16px;
            }

            a {
                font-weight: bold;
            }
        }
    }
}

// Search

#nav-search .main-menu {
    display: none;
}

#tm:checked + .main-menu {
    display: block;
}

#nav-search input[type="checkbox"] {
    display: none;
}

::placeholder {
   color: rgb(7, 7, 7);
    font-size: 16px;
}

#user-search {
    line-height: 36px;
    font-size: 22px;
    color: rgb(7, 7, 7);
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 99;
}



.main-menu {
    #tm {
        position: absolute;
        margin-left: 0px;
        /*margin-top: 10px;*/
        top: 0px;
        left: 280px;
        color: rgb(175, 25, 25);
        font-weight: bold;
        font-size: 18px;
        background: grey;
        padding: 8px;
        border-radius: 4px;
    }
}

// Menu 

#nav-menu .main-menu-2 {
    display: none;
}

#tm-2:checked + .main-menu-2 {
    display: block;
}

#nav-menu input[type="checkbox"] {
    display: none;
}

#toggle-menu-2 {
    position: relative;
    display: block;
}

#nav-menu {

    .main-menu-2 {
        
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;


        #label-inside-menu {
            position: absolute;
            right: 2%;
            top: 0%;
            color: rgb(224, 72, 72);
            background: rgb(83, 82, 82);
            font-size: 18px;
            font-weight: bold;
            z-index: 999;
        }

    li {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    line-height: 32px;

        a {
            text-decoration: none;
            color: rgb(255, 255, 255);
            font-size: 22px;
            background: rgb(83, 82, 82);
            position: relative;
            display: block;
        }   
    }
}
}

#nav-search {
    margin: 8px 16px 0px 16px;
}

#nav-menu {
    margin: 8px 0px 0px 0px;
    width: 100%;
    font-weight: bold;
}